* {
  font-family: Helvetica, sans-serif;
  color: #272727;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
}

body {
  background-color: #f8f5f5;
  margin: 0;
}

header {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #211e1e;
  background-color: #f77150;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
}

header a {
  margin-left: 30px;
  transition: all 500ms ease;
}

header a:hover {
  opacity: 0.9;
  color: white;
}

a:hover {
  color: #5f5f5f;
  opacity: 0.9;
}

input {
  font-size: 14px;
  border-radius: 1px;
  padding: 8px;
  margin-bottom: 0px;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
}

.button,
button {
  margin: 5px;
  display: inline-flex;
  align-items: center;
  padding: 4px 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  background: #f77150;
  box-sizing: border-box;
  transition: all 500ms ease;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button:hover,
button:hover {
  color: #f77150;
  border: #f77150 solid 1px;
  background: #fff;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

p {
  font-size: 14px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

fieldset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border: none;
}

.list-box {
  width: 40%;
  margin: auto;
}

.list-group-item {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: right;
}
