.photos-box {
  width: 50%;
  margin: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.back-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}
h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

li {
  margin-top: 20px;
  margin-bottom: 5px;
}
