<div class='container' style='width:50%;margin:auto;padding-top: 30px;'>
  <h1>About page</h1>
  <p>This is a project album. Perhaps this is a very important project. Maybe not. But here you need to write some
    information about him. So. Everything is done according to the requirements, namely:
  </p>
  <ul>
    <li>URL: /home - static markup page</li>
    <li>URL: /about - static markup page</li>
    <li>CRUD (create / read / update / delete) operations</li>
    <li>URL: /albums - a list of albums from this url. Each item should:
      <ul>
        <li>have delete button with implementation</li>
        <li>be clickable, after selecting one of them, must be opened a detail page.</li>
      </ul>
    </li>
    <li>URL: /albums/:id - detail page of selected item</li>
    <li>Etc...
    </li>
  </ul>
</div>
